.hero-container {
    height: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    

}



.hero-container > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: avenir next;
    font-size: 50px;
    margin-top:50px;
    padding-bottom: 100px;
}




.hero-container > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: avenir next;
    font-size: 20px;
    margin-top:50px;
    padding-top: 30px;
    max-width: auto;
    padding-top: 30px;
}


svg{
    stroke: white;
    fill: currentcolor;
    stroke-width: 0;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: avenir next;
    font-size: 20px;
    margin-top:80px;
    padding-top: 30px;
    max-width: auto;
    padding-top: 30px;
    display: block;
}


@media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 40px;
      margin-top: -150px;
      padding-bottom: 120px;
    }
    
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1{
      font-size: 30px;
      margin-top: 20px;
      padding-bottom: 120px;
    }
    .hero-container > p {
        margin-top: 70px;
        width: 250px;
    }
}

    @media screen  and (max-width: 400px){
        .hero-container > h1{
        font-size: 30px;
        margin-top: 20px;
        padding-bottom: 100px;
    }
    .hero-container > p {
        font-size: 18px;
        width: 230px;
        
    }
}
  
   
