.navbar {

  
   
  }
  .navbar-container {
   background-color: rgb(255, 255, 255);
   height: 50px;
   position: fixed;
   width: 100%;
   

  }

.menu {
   float: right;
   margin-right: 20px;
   
   
   
}

.link-item {

    display: inline;
    margin: 10px;
    
}

.nav-links {
    text-decoration: none;
    font-family: avenir next;
    color: rgb(83, 85, 85);

}

  