.resume-card-container {
    width: 700px;
    font-family: avenir next;
    font-size: 16px;
    margin-bottom: 100px;
}

.container-header {
    display: flex;
}

.title-ocupation-container {
    
    flex:3;
    text-align: start;
    
}

.title-ocupation-container > h2 {
    font-weight: normal;
    color: #8AB5BB;
    font-size: 24px;
    margin-block-end: 0;
}

.title-ocupation-container > h3 {
    font-weight: normal;
    color: #8AB5BB;
    font-size: 20px;
    margin-block-start: 0%;
    margin-block-end: 0;
}

.container-header .from-to {
    right: 0;
    bottom: 0;
}

.from-to {
    text-align: center;
  }

  .text {
    margin-top:40px;
    margin-block-end: -10px;
    font-weight: lighter;

    
  }

  .blueLine {
      max-width: 100px ;
  }


@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 960px) { 
  
  

}

@media screen and (max-width: 768px) {

    .resume-card-container {
        width: 350px;
        font-family: avenir next;
        font-size: 13px;
        margin-bottom: 40px;
    }

    .title-ocupation-container > h2 {
        font-weight: normal;
        color: #8AB5BB;
        font-size: 20px;
        margin-block-end: 0;
    }
    
    .title-ocupation-container > h3 {
        font-weight: normal;
        color: #8AB5BB;
        font-size: 16px;
        margin-block-start: 0%;
        margin-block-end: 0;
    }

    .text {
        margin-top:40px;
        margin-block-end: -10px;
        font-weight: lighter;
 
      }
      .blueLine {
        width: 70px ;
    }

    .from-to {
        text-align: center;
      }

}


@media screen  and (max-width: 400px){

    .resume-card-container {
        width: 320px;
        font-family: avenir next;
        font-size: 13px;
        margin-bottom: 40px;
    }

    .title-ocupation-container > h2 {
        font-weight: normal;
        color: #8AB5BB;
        font-size: 20px;
        margin-block-end: 0;
    }
    
    .title-ocupation-container > h3 {
        font-weight: normal;
        color: #688588;
        font-size: 16px;
        margin-block-start: 0%;
        margin-block-end: 0;
    }

    .text {
        margin-top:40px;
        margin-block-end: -10px;
        font-weight: lighter;
 
      }
      .blueLine {
        width: 70px ;
    }

    .from-to {
        text-align: center;
      }

}
  

 