.container {
    display: block;
    margin: auto;
    width: 70%;

    
}
.main-container {
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    /* background-color: lightgrey; */

 
}

.side-container {
    
    max-width: 250px;
    overflow: hidden;
    /*background-color: aliceblue;*/
    height: auto;

}

.horizontalLine {
    
    align-items: flex-start;
    margin: auto;
    width: 0%;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    /* background-color: lavender; */

}

.title-text {
    font-family: avenir next;
    font-weight: bold;

}

.title-text h2{
    margin-block-end: -10px;
}