.s-container {
    display: flex;
    margin: auto;
    width: 53%;

    
}
.skills-main-container {
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    /* background-color: lightgrey; */
    width: 100%;

 
}
.skills-side-container {
    
    width: 150px;
    overflow: hidden;
    /* background-color: aliceblue; */
    height: 500px;

}
.skills-container {
    display: block;
    margin: auto;
    width: 75%;

    
}




.skills-horizontalLine {
    
    align-items: flex-start;
    margin: auto;
    width: 0%;
}


.title-text {
    font-family: avenir next;
    font-weight: bold;

}

.title-text h2 {
    margin-block-end: -10px;
}



.title-text-400 {
    display:none;
}

@media screen and (max-width: 1536px) {
    .s-container {
        display: block;
        margin: auto;
        width:67%
    
        
    }
    
    .skills-side-container {
    
        width: 150px;
        /* background-color: aliceblue; */
        height: 500px;
    
    }

    .skills-container {
        display: block;
        flex-direction: column;
        
        margin-left: 30px;
        /* background-color: lavender; */
        width: 600px;
        align-items: flex-start;
    
    }

    .title-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 1366px) {
    .s-container {
        display: block;
        margin: auto;
        width:67%
    
        
    }
    
    .skills-side-container {
    
        width: 150px;
        /* background-color: aliceblue; */
        height: 500px;
    
    }

    .skills-container {
        display: block;
        flex-direction: column;
        
        margin-left: 30px;
        /* background-color: lavender; */
        width: 600px;
        align-items: flex-start;
    
    }

    .title-text {
        font-size: 14px;
    }
}


@media screen and (max-width:1280px) { 

    .s-container {
        display: block;
        margin: auto;
        width:77%
    
        
    }
    
    .skills-side-container {
    
        width: 150px;
        /* background-color: aliceblue; */
        height: 500px;
    
    }

    .skills-container {
        display: block;
        flex-direction: column;
        
        margin-left: 30px;
        /* background-color: lavender; */
        width: 600px;
        align-items: flex-start;
    
    }

    .title-text {
        font-size: 14px;
    }

}

@media screen and (max-width: 960px) { 
    


}
  
@media screen and (max-width: 768px) {

    .s-container {
        display: flex;
        margin: auto;
        width: 100%;
        padding-top: 30px;
       
    }

    .skills-main-container {
        display: block;
        align-items: flex-start;
        margin-top: 50px;
        /* background-color: lightgrey; */
        width: 100%;
    }

    .title-text-400 {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        margin-left: 30px;
        font-family: avenir next;
    }
    
    .skills-side-container {
    
        display: none;
    }

    .skills-container {
      
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        width: 85%;
        margin: auto;
        /* background-color: lavender; */
  
    }

    .title-text-400 > img {
        width: 170px;
        margin-top: -10px;
    }

}


@media screen  and (max-width: 400px){

    .s-container {
        display: flex;
        margin: auto;
        width: 100%;
        padding-top: 30px;
       
    }

    .skills-main-container {
        display: block;
        align-items: flex-start;
        margin-top: 50px;
        /* background-color: lightgrey; */
        width: 100%;
    }

    .title-text-400 {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        margin-left: 30px;
        font-family: avenir next;
    }
    
    .skills-side-container {
    
        display: none;
    }

    .skills-container {
      
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        width: 85%;
        margin: auto;
        /* background-color: lavender; */
  
    }

    .title-text-400 > img {
        width: 170px;
        margin-top: -10px;
    }

}

