.container {
    display: block;
    margin: auto;
    width: 70%;

    
}
.skills-main-container {
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    /* background-color: lightgrey; */

 
}

.skills-side-container {
    
    max-width: 250px;
    overflow: hidden;
    /* background-color: aliceblue; */
    height: 500px;

}

.skills-horizontalLine {
    
    align-items: flex-start;
    margin: auto;
    width: 0%;
}


.title-text {
    font-family: avenir next;
    font-weight: bold;

}

.title-text h2 {
    margin-block-end: -10px;
}

.skills-container {
    width: 600px;
    margin-top: 80px;
    margin-left: 50px;
}

